<p-galleria [value]="images"
            [activeIndex]="0"
            [numVisible]="1"
            [autoPlay]="true"
            [circular]="true"
            [showItemNavigators]="true"
            [showItemNavigatorsOnHover]="true"
            [showThumbnails]="false"
            [transitionInterval]="4000"
                [containerStyle]="{ 'max-width': '100%' }"
            >
    <ng-template pTemplate="item" let-item>
        <img [src]="item" style="width: 100%; display: block;" alt="" />
    </ng-template>
</p-galleria>
