<!-- <p-card header="{{ header }}" class="text-center shadow">
    <ng-template pTemplate="header">
        <img alt="Card" src="{{ img }}" class="responsive-img" />
    </ng-template>
    <p class="text-center text-small">
        {{ body }}
    </p>
</p-card> -->

        <div class="card">
            <img src="{{img}}" class="img-fluid" alt="...">
            <div class="card-body text-center">
                <p class="h6"> {{header}} </p>
                <p class="h7"> {{body}} </p>

            </div>
        </div>

