  <div class="container marketing">
      <div class="row mb-4 pb-3 heading">
<!--          <p class="h2 lh-1 fw-normal border-bottom text-center title">Nosotros</p>-->
      </div>
      <div class="row mb-5 featurette">
          <img src="assets/logo-v2.jpg">
      </div>
<!--    <hr class="featurette-divider">-->

    <div class="row container-fluid featurette">
      <div class="col-md-12">
        <h2 class="featurette-heading fw-normal lh-1 text-center">Grupo RAF</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. In earum odit nostrum officia vitae distinctio libero maxime quis est aperiam? Quasi, veritatis sequi eius quos provident iure accusamus quas voluptate?</p>
      </div>

    </div>
<div class="container marketing">


    <hr class="featurette-divider">
      <div  class="row featurette">
          <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading fw-normal lh-1">Misión</h2>
              <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur repellat facilis maxime asperiores accusantium ducimus ut ipsam fugiat ipsum quod sint autem quisquam, modi corporis. In vero qui culpa dicta!</p>
          </div>
          <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" src="https://atodamaquina.cl/img/p/4/7/3/7/4737-large_default.jpg" height="500" width="500" alt="camion"/>
          </div>
      </div>
    <div  class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Visión</h2>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur repellat facilis maxime asperiores accusantium ducimus ut ipsam fugiat ipsum quod sint autem quisquam, modi corporis. In vero qui culpa dicta!</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="https://atodamaquina.cl/img/p/4/7/3/7/4737-large_default.jpg" height="500" width="500" alt="camion"/>
      </div>
    </div>


    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
  </div>

<app-footer></app-footer>
